[submodule "themes/starter-academic"]
	path = themes/starter-academic
	url = https://github.com/wowchemy/starter-academic.git
[submodule "themes/anatole"]
	path = themes/anatole
	url = https://github.com/lxndrblz/anatole.git
